@import '../../../styles/mixins/display_mixins.module.scss';
@import '../../../styles/mixins/mixins_typography.module.scss';


.card_promotion{
    width: 23rem;
    height: 20rem;
    border: solid .5rem white;
    img{
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
    p{
        @include title;
    }
}