@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');


@mixin paragraphe{
    font-family: 'Montserrat',sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.847);
}
@mixin title {
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.747);
}



