@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@mixin paragraphe{
    font-family: 'Montserrat',sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.847);
}
@mixin title {
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.747);
}