@import '../styles/mixins/display_mixins.module.scss';
@import '../styles/mixins/mixins_color.module.scss';
@import '../styles/mixins/mixins_typography.module.scss';

.container{
    padding-top: 5rem;
    width: 100%;
    img{
        width: 100%;
        height: 20rem;
    }
    .main_container{
        padding: 0 10%;
        .top_categories{
            width: 100%;
            height: max-content;
            margin: 2rem 0;
            @include d-flex-row-between;
            .first_container{
                width: 40%;
                height: 20rem;
                background-color: rgba(0, 0, 0, 0.527);
                background-blend-mode:soft-light;
                background-image: url('../public/assets/images/women.png');
                background-size: cover;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                padding: 2rem;
                h3{
                    @include title;
                    font-size: 1.5rem;
                    margin: 0;
                    font-weight:bolder;
                    color: white;
                }
                p{
                   @include title;
                    font-size: 1.5rem;
                    font-weight:bolder;
                    color: white;  
                }
            }
            .second_container{
                width: 59%;
                height: 20rem;
                .man{
                    width: 100%;
                    height: 50%;
                    background-color: rgba(0, 0, 0, 0.322);
                    background-image: url('../public/assets/images/man.png');
                    background-repeat: no-repeat;
                    background-position: 100% 100%;
                    background-blend-mode: soft-light;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-between;
                    align-items:flex-start;
                    padding: 2rem;

                    h3{
                        margin: 0;
                        @include title;
                        font-size: 1.5rem;
                        margin: 0;
                        font-weight:bolder;
                        color: white;
                    }
                }
                .deco_dress{
                    @include d-flex-row-between;
                    margin-top: 2%;
                    height: 46%;
                    .deco{
                        width: 49%;
                        padding: 2rem;
                        background-image: url('../public/assets/images/decoration.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        object-fit: cover;

                    }
                    .dress{
                        width: 49%;
                        padding: 2rem;
                        background-color: rgb(230, 230, 230);
                        background-image: url('../public/assets/images/home.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
        .card_group{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .pup{
            width: 100%;
            height: 12rem;
            margin-top: 2rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}